.menu_list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .ant-menu {
        border: none;
        &-item {
            height: 42px;
            display: flex;
            align-items: center;
            margin: 0 0 16px 0 !important;
            padding: 0 16px !important;
            .anticon {
                svg {
                    width: 16px;
                    height: 16px;
                }
                path { fill: $primary-light-9; }
            }
            &-selected {
                box-shadow: inset -3px 0 0 0 $character-light-link;
                .anticon { path { fill: $primary-light-5; } }
                .ant-menu-title-content {
                    color: $primary-light-5;
                }
            }
        }
        &-title-content {
            font-weight: 400;
            font-size: 14px;
            color: $character-light-title-85;
            display: flex;
            align-items: center;
        }
    }
    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: $primary-light-1;
    }
    .ant-menu-inline-collapsed > .ant-menu-item .anticon {
        line-height: 0;
    }
}

.menu_list {
    &__collapsed {
        .ant-menu {
            &-item {
                padding: 13px 24px !important;
                &-selected {
                    box-shadow: none;
                    .anticon { path { fill: $primary-light-6; } }
                }
            }
            &-title-content {
                display: none !important;
            }
        }
    }
}

.menu_list {
    &__mobile {
        margin-top: 16px;
        .ant-menu {
            border: none;
            &-item {
                margin: 0 0 8px 0 !important;
                padding: 0 0 0 8px !important;
                .anticon { display: none; }
                .anticon + span { margin-left: 0; }
            }
        }
    }
}
