.auth_form {
    width: 100%;
    &_input {
        input, .ant-input-password {
            max-height: 40px;
            padding: 11px 12px;
            color: $character-light-title-85;
        }
        .ant-input {
            line-height: 130%;
            &-password > .ant-input {
                color: rgba(0, 0, 0, 0.65);
            }
            &-group-addon {
                color: $character-light-title-85;
                width: 71px;
            }
            &-suffix .anticon-eye {
                path:nth-child(1), path:nth-child(2) {
                    fill: transparent;
                }
                path:nth-child(3), path:nth-child(4) {
                    fill: $character-light-secondary-45;
                }
            }
            &-status-error:not(.ant-input-disabled):not(.ant-input-borderless) {
                border-left: 1px solid #d9d9d9 }
        }
        &:first-child {margin-bottom: 32px;}
        &:nth-child(2) {margin-bottom: 30px;}
        .ant-input:focus, .ant-input:hover,
        .ant-input-affix-wrapper:hover,
        .ant-input-affix-wrapper:focus,
        .ant-input-affix-wrapper-focused {
            border-color: $primary-light-5;
            .ant-input-suffix .anticon-eye {
                path:nth-child(3), path:nth-child(4) {
                    fill: $primary-light-6;
                }
            }
        }
        .ant-input-affix-wrapper-status-error > .ant-input-suffix .anticon-eye,
        .ant-input-affix-wrapper-status-error:hover > .ant-input-suffix .anticon-eye{
            path:nth-child(3), path:nth-child(4) {
                fill: $character-light-secondary-45;
            }
        }
    }
    .ant-form-item-explain {
        font-size: 12px;
        line-height: 130%;
    }
    .auth_controls {
        height: 24px;
        .ant-form-item-control-input {
            min-height: 0;
            &-content {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }
        }
        &_forgot {
            padding: 0;
            border: none;
            color: $primary-light-6;
            font-size: 16px;
            max-height: 24px;
            &:hover {
                color: $primary-light-6;
            }
        }
    }
    .ant-checkbox {
        &::selection, input::selection {
            background: $primary-light-6;
        }
        &-checked::after {
            border: 1px solid $primary-light-6;
        }
        &-checked .ant-checkbox-inner {
            background-color: $primary-light-6;
            border-color: $primary-light-6;
        }
        &-wrapper:hover .ant-checkbox-inner,
        &:hover .ant-checkbox-inner,
        &-input:focus + .ant-checkbox-inner {
            border-color: $primary-light-6;
        }
    }
    &_btn, &_google {
        width: 100%;
        height: 40px;
        padding: 8.5px 15px;
        font-weight: 400;
        line-height: 130%;
        text-align: center;
    }
    &_btn {
        &_item {
            margin-bottom: 0;
        }
        font-size: 16px;
        background: $primary-light-6;
        border-color: $primary-light-6;
        color: $character-light-primary-inverse;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        margin-bottom: 16px;
        &:hover, &:focus-visible {
            background: $primary-light-4;
            border-color: $primary-light-4;
        }
        &:disabled {
            border: 1px solid $character-light-border;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
            background: $character-light-background;
            color: $character-light-disable-25;
        }
    }
    &_google {
        color: $character-light-title-85;
        span:nth-child(2) {
            font-size: 16px;
        }
        .anticon + span { margin-left: 10px; }
        &:hover, &:focus-visible {
            color: $primary-light-5;
            border-color: $primary-light-5;
        }
    }

    &_registr {
        .auth_form_input {
            &:first-child { margin-top: 8px; }
            &:nth-child(2) {margin-bottom: 46px;}
            &:nth-child(3) {margin-bottom: 38px;}
        }
    }

    @media screen and (max-width: 575px) {
        &_btn, &_google {
            font-size: 14px;
            span:nth-child(2) { font-size: 14px; }
            .anticon {
                display: none;
                & + span { margin-left: 0; }
            }
        }
        .auth_controls {
            height: auto;
            label, button { height: 18px;}
            &_forgot {
                font-size: 14px;
                padding: 0 7px;
            }
        }
        &_registr {
            .auth_form_input {
                &:first-child { margin-top: 0;}
                &:nth-child(3) {margin-bottom: 30px;}
            }
        }
    }
}
