@import './default';
@import './variables';

@import '../../components/main/app.scss';
@import '../../components/sidebar/menu-list/menu-list.scss';
@import '../../components/sidebar/logo/logo.scss';
@import '../../components/sidebar/sidebar-container/sidebar-container.scss';
@import '../../components/sidebar/sidebar.scss';
@import '../../components/sidebar/exit-btn/exit-btn.scss';
