.app {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background: no-repeat fixed center/cover url('../../utils/image/main_page_light.png');
    &__layout {
        background: transparent;
    }
}
