.app {
    max-width: 1440px;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    background: no-repeat fixed center/cover url('../../utils/image/main_page_light.png');
    &__layout {
        background: transparent;
    }
    &__content {
        flex: 1;
        align-items: end;
        background: transparent;
    }
    &__unauth {
        background: no-repeat fixed center/cover url('../../utils/image/unauth_pages_light.png');
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
