.header_container {
    background-color: $primary-light-1;
    padding: 16px 24px;
    .ant-layout-header {
        height: auto;
        padding: 0;
        line-height: normal;
        background-color: inherit;
    }
    .ant-typography{
        margin: 0;
    }
    &__breadcrumb {
        .ant-typography {
            color: $character-light-primary-85;
            line-height: 18px;
        }
    }
}
