.result {
    padding: 64px 85.5px;
    border-radius: 2px;
    width: 539px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: $character-light-primary-inverse;
    .ant-result {
        &-icon  {
            height: 80px;
        }
        &-title {
            font-family: 'Inter Medium', sans-serif;
            color: $character-light-title-85;
            line-height: 130%;
        }
        &-subtitle {
            color: $character-light-secondary-45;
            line-height: 130%;
        }
        &-extra {
            button {
                width: 100%;
                height: 40px;
                padding: 11px 0;
                box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
                background: $primary-light-6;
                line-height: 130%;
                color: $character-light-primary-inverse;
            }
        }
    }
    @media screen and (max-width: 575px) {
        width: 328px;
        padding: 32px 16px;
    }
}
