.content_container {
    padding: 24px;
    width: 100%;
    .width-752 { max-width: 752px;}
    .ant-list-item, .ant-list-header{
        padding: 0;
        border: none;
    }
    .list_card {
        .ant-list-item, .ant-typography{
            color: $primary-light-9;
            line-height: 21px;
            font-weight: 550;
            font-size: 16px;
            word-wrap: break-word;
        }
        .ant-list-header {
            line-height: 20px;
        }
    }
    .text_card {
        .ant-typography {
            overflow-wrap: break-word;
            margin: 0;
            font-weight: 500;
            line-height: 26px;
            color: $character-light-title-85;
        }
    }
    .list_card { margin-bottom: 24px }
    .text_card { margin-bottom: 16px }
    .list_card, .text_card {
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        background: var($character-light-primary-inverse);
    }
    .mini_card {
        .ant-card-head { min-height: 0 }
        .ant-card-body {
            padding: 12px 0;
            .ant-btn {
                width: 100%;
                border: none;
                color: $primary-light-6;
                box-shadow: none;
                svg {
                    width: 14px;
                    height: 14px;
                    path {
                        fill: $primary-light-6
                    }
                }
                &:focus-visible {
                    border: 1px solid $primary-light-5;
                }
            }
        }
        .ant-card-head-title {
            white-space: normal;
            text-overflow: clip;
            padding: 12px 0;
            text-align: center;
            color: $character-light-title-85;
            line-height: 21px;
            font-weight: 400;
        }
    }
    @media (min-width: 576px) and (max-width: 991px) {
        .mini_card {
            .ant-card-head-title {
                text-align: start;
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: 24px 16px;
        .ant-card-body {
            padding: 16px;
        }
    }
}
