@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Inter Bold', sans-serif;
    font-weight: 700;
}
h3, h4 {
    font-family: "Inter Medium", sans-serif;
    font-weight: 500;
}
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $character-light-title-85;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
p {
    margin: 0;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
    overflow-y: auto;
}
nav, ol, li, ul, a, h1, h2, h3, h4, h5, h6, p, span,
h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography{
    line-height: 130%;
    margin-bottom: 0;
}
