.ant-result {
    &-icon  {
        height: 80px;
    }
    &-title {
        font-family: 'Inter Medium', sans-serif;
        color: $character-light-title-85;
        line-height: 130%;
    }
    &-subtitle {
        color: $character-light-secondary-45;
        line-height: 130%;
    }
    &-extra {
        button {
            width: 100%;
            height: 40px;
            padding: 11px 0;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
            background: $primary-light-6;
            line-height: 130%;
            color: $character-light-primary-inverse;
            border-color: $primary-light-6;
            &:hover, &:focus-visible {
                background: $primary-light-4;
                border-color: $primary-light-4;
            }
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-info .ant-result-icon > .anticon {
        color: $primary-light-6;
    }
    &-warning .ant-result-icon > .anticon {
        color: $character-light-warning;
    }
    &-error .ant-result-icon > .anticon {
        color: $character-light-error;
    }
    &-success .ant-result-icon > .anticon {
        color: $character-light-success;
    }
}
