.sidebar_container {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 100;
    .ant-layout-sider {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $character-light-primary-inverse;
    }
    &__mobile {
        position: fixed;
        height: 100vh;
    }
}
