.recovery_form {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: $character-light-primary-inverse;
    border-radius: 2px;
    padding: 64px 85.5px;
    width: 539px;
    h3 {
        margin-bottom: 32px;
        font-weight: 500;
        line-height: 130%;
        text-align: center;
        color: $character-light-title-85;
    }
    .auth_form {
        &_input {
            &:first-child {margin-bottom: 46px; margin-top: 0}
            &:nth-child(2) {margin-bottom: 38px;}
        }
        &_btn {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
        }
    }
    &_fixed {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    .recovery_form {
        width: 328px;
        padding: 32px 16px;
    }
}
