.download_card {
    width: 240px;
    .ant-card-head-title {
        white-space: normal;
        text-overflow: clip;
        padding: 12px 0;
        color: $character-light-secondary-45;
        font-weight: 400;
        line-height: 18px;
        font-size: 14px;
        span {
            display: block;
            font-size: 16px;
            color: $primary-light-6;
            margin-bottom: 8px;
            line-height: 21px;
        }
    }
    .ant-card-body {
        padding: 12px 0;
        display: flex;
        .ant-btn {
            width: 50%;
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            box-shadow: none;
            color: $character-light-title-85;
            &:first-child {
                padding: 7px 11px;
            }
            &:nth-child(2) {
                padding: 7px 16.5px;
            }
            &:focus-visible {
                border: 1px solid $primary-light-5;
            }
        }
    }
    @media screen and (max-width: 575px) {
        width: 100%;
        order: -1;
        .ant-card-head-title {
            text-align: center;
        }
    }
}
